<p>prduct-details works!</p>
<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th colspan="7">Product List</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th colspan="7">
        <span>filterBy: </span><input type="text" [(ngModel)]="name" />
      </th>
    </tr>
    <tr>
      <th scope="row" colspan="2">
        <button class="btn btn-primary" (click)="show()">Show Image</button>
      </th>
      <th>Product</th>
      <th>Code</th>
      <th>Available</th>
      <th>Price</th>
    </tr>
    <tr
      *ngFor="let item of products | arraySplice: name; let x = even"
      [ngClass]="{ color: x }"
    >
      <td colspan="2">
        <img *ngIf="flag" [attr.src]="item.image" alt="" style="width: 50px" />
      </td>
      <td>
        {{ item.name }}
      </td>
      <td>{{ item.code | stringConvert }}</td>
      <td>{{ item.avalible | date: "MMM/dd/yyyy" }}</td>
      <td>{{ item.price | currency }}</td>
    </tr>
  </tbody>
</table>
